<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19A603003</string>
	<key>CFBundleExecutable</key>
	<string>IOHIDFamily</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IOHIDFamily</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOHIDFamily</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12A8179f</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.0.1</string>
	<key>DTSDKBuild</key>
	<string>20B22</string>
	<key>DTSDKName</key>
	<string>macosx11.0internal</string>
	<key>DTXcode</key>
	<string>1200</string>
	<key>DTXcodeBuild</key>
	<string>12A8179f</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HID Game Controller Pointing Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>5</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>DeviceUsage</key>
					<integer>4</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOHIDEventDriver</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
		</dict>
		<key>IOHIDEventServiceUserClient</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOProviderClass</key>
			<string>IOHIDEventService</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>HIDServiceSupport</key>
				<true/>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>7DDEECA8-A7B4-11DA-8A0E-0014519758EF</key>
					<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDLib.plugin</string>
					<key>FA12FA38-6F1A-11D4-BA0C-0005028F18D5</key>
					<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDLib.plugin</string>
				</dict>
				<key>IOUserClientClass</key>
				<string>IOHIDEventServiceUserClient</string>
			</dict>
		</dict>
		<key>IOHIDLibUserClient</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOProviderClass</key>
			<string>IOHIDDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>40A57A4E-26A0-11D8-9295-000A958A2C78</key>
					<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDLib.plugin</string>
					<key>7DDEECA8-A7B4-11DA-8A0E-0014519758EF</key>
					<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDLib.plugin</string>
					<key>FA12FA38-6F1A-11D4-BA0C-0005028F18D5</key>
					<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDLib.plugin</string>
				</dict>
				<key>IOUserClientClass</key>
				<string>IOHIDLibUserClient</string>
			</dict>
		</dict>
		<key>IOHIDResource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDResource</string>
			<key>IOMatchCategory</key>
			<string>IOHIDResource</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
			<key>IOUserClientClass</key>
			<string>IOHIDResourceDeviceUserClient</string>
		</dict>
		<key>IOHIDSystem</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>HIDPowerOnDelayNS</key>
			<integer>500000000</integer>
			<key>HIDScrollCountBootDefault</key>
			<dict>
				<key>HIDScrollCountAccelerationFactor</key>
				<integer>163840</integer>
				<key>HIDScrollCountIgnoreMomentumScrolls</key>
				<true/>
				<key>HIDScrollCountMax</key>
				<integer>2000</integer>
				<key>HIDScrollCountMaxTimeDeltaBetween</key>
				<integer>600</integer>
				<key>HIDScrollCountMaxTimeDeltaToSustain</key>
				<integer>250</integer>
				<key>HIDScrollCountMinDeltaToStart</key>
				<integer>30</integer>
				<key>HIDScrollCountMinDeltaToSustain</key>
				<integer>20</integer>
				<key>HIDScrollCountMouseCanReset</key>
				<true/>
			</dict>
			<key>HIDServiceGlobalModifiersUsage</key>
			<integer>1</integer>
			<key>HIDServiceSupport</key>
			<true/>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>0516B563-B15B-11DA-96EB-0014519758EF</key>
				<string>IOHIDFamily.kext/Contents/PlugIns/IOHIDNXEventRouter.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>IOHIDSystem</string>
			<key>IOMatchCategory</key>
			<string>IOHID</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
			<key>PrimaryUsage</key>
			<integer>23</integer>
			<key>PrimaryUsagePage</key>
			<integer>65280</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>R1 Merge</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>IOClass</key>
			<string>IOHIDProviderPropertyMerger</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>PrimaryUsage</key>
				<integer>27</integer>
				<key>PrimaryUsagePage</key>
				<integer>65280</integer>
			</dict>
			<key>IOProviderClass</key>
			<string>IOHIDDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>ProtectedAccess</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>"Copyright © 2000-2018 Apple Inc. All rights reserved. [IOHIDFamily-1633.40.25]"</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0b1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOReportFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>11.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>11.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>11.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>11.0</string>
		<key>com.apple.kpi.mach</key>
		<string>11.0</string>
		<key>com.apple.kpi.private</key>
		<string>11.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>11.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
