<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>AppleQ8</string>
	<key>BuildVersion</key>
	<string>32139</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.1</string>
	<key>CFBundleVersion</key>
	<string>4.0.1</string>
	<key>ProjectName</key>
	<string>AppleQ8</string>
	<key>SourceVersion</key>
	<string>401004000000000</string>
</dict>
</plist>
