<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>LegacyUSBVideoSupport</string>
	<key>CFBundleIdentifier</key>
	<string>com.parrotgeek.LegacyUSBVideoSupport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>VideoSupport</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.parrotgeek.LegacyUSBVideoSupport</string>
			<key>IOClass</key>
			<string>AppleUSBCamera</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33536</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>VideoSupportRev120</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.parrotgeek.LegacyUSBVideoSupport</string>
			<key>IOClass</key>
			<string>AppleUSBCamera</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>288</integer>
			<key>idProduct</key>
			<integer>34049</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>VideoSupportRev139</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.parrotgeek.LegacyUSBVideoSupport</string>
			<key>IOClass</key>
			<string>AppleUSBCamera</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>313</integer>
			<key>idProduct</key>
			<integer>34049</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>VideoSupportRev149</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.parrotgeek.LegacyUSBVideoSupport</string>
			<key>IOClass</key>
			<string>AppleUSBCamera</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>329</integer>
			<key>idProduct</key>
			<integer>34049</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>VideoSupportRev155</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.parrotgeek.LegacyUSBVideoSupport</string>
			<key>IOClass</key>
			<string>AppleUSBCamera</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>341</integer>
			<key>idProduct</key>
			<integer>34049</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>VideoSupportRev170</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.parrotgeek.LegacyUSBVideoSupport</string>
			<key>IOClass</key>
			<string>AppleUSBCamera</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>368</integer>
			<key>idProduct</key>
			<integer>34049</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>VideoSupportRev182</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.parrotgeek.LegacyUSBVideoSupport</string>
			<key>IOClass</key>
			<string>AppleUSBCamera</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>386</integer>
			<key>idProduct</key>
			<integer>34049</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>VideoSupportRev184</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.parrotgeek.LegacyUSBVideoSupport</string>
			<key>IOClass</key>
			<string>AppleUSBCamera</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bcdDevice</key>
			<integer>388</integer>
			<key>idProduct</key>
			<integer>34049</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WindowsDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.parrotgeek.LegacyUSBVideoSupport</string>
			<key>IOClass</key>
			<string>AppleUSBCamera</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>34051</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iSightConfiguration</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBComposite</string>
			<key>IOClass</key>
			<string>IOUSBCompositeDriver</string>
			<key>IOProbeScore</key>
			<integer>10</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>34049</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
