<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19A603003</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Eject</string>
	<key>CFBundleGetInfoString</key>
	<string>2.0.3, Copyright Apple Inc. 2002-2009</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.menuextra.eject</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Eject</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>257</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12A121</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.16</string>
	<key>DTSDKBuild</key>
	<string>20A4299h</string>
	<key>DTSDKName</key>
	<string>macosx10.16internal</string>
	<key>DTXcode</key>
	<string>1200</string>
	<key>DTXcodeBuild</key>
	<string>12A121</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.16</string>
	<key>NSMenuExtraWidth</key>
	<integer>22</integer>
	<key>NSPrincipalClass</key>
	<string>ProcessExtra</string>
</dict>
</plist>
