<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacBook5,1</key>
	<dict>
		<key>FWFile</key>
		<string>MacBook5,1_APFS.bin</string>
	</dict>
	<key>MacBook5,2</key>
	<dict>
		<key>FWFile</key>
		<string>MacBook5,2_APFS.bin</string>
	</dict>
	<key>MacBookPro4,1</key>
	<dict>
		<key>FWFile</key>
		<string>MacBookPro_APFS.bin</string>
	</dict>
	<key>MacBookPro5,1</key>
	<dict>
		<key>FWFile</key>
		<string>MacBookPro5,1_APFS.bin</string>
	</dict>
	<key>MacBookPro5,2</key>
	<dict>
		<key>FWFile</key>
		<string>MacBookPro5,2_APFS.bin</string>
	</dict>
	<key>MacBookPro5,3</key>
	<dict>
		<key>FWFile</key>
		<string>MacBookPro5,3_APFS.bin</string>
	</dict>
	<key>MacBookPro5,4</key>
	<dict>
		<key>FWFile</key>
		<string>MacBookPro5,4_APFS.bin</string>
	</dict>
	<key>MacBookPro5,5</key>
	<dict>
		<key>FWFile</key>
		<string>MacBookPro5,5_APFS.bin</string>
	</dict>
	<key>MacBookAir2,1</key>
	<dict>
		<key>FWFile</key>
		<string>MacBookAir2,1_APFS.bin</string>
	</dict>
	<key>MacPro3,1</key>
	<dict>
		<key>FWFile</key>
		<string>MacPro3,1_APFS.bin</string>
	</dict>
	<key>MacPro4,1</key>
	<dict>
		<key>FWFile</key>
		<string>MacPro4,1_APFS.bin</string>
	</dict>
	<key>iMac7,1</key>
	<dict>
		<key>FWFile</key>
		<string>iMac7,1_APFS.bin</string>
	</dict>
	<key>iMac8,1</key>
	<dict>
		<key>FWFile</key>
		<string>iMac8,1_APFS.bin</string>
	</dict>
	<key>iMac9,1</key>
	<dict>
		<key>FWFile</key>
		<string>iMac9,1_APFS.bin</string>
	</dict>
	<key>Xserve2,1</key>
	<dict>
		<key>FWFile</key>
		<string>Xserve2,1_APFS.bin</string>
	</dict>
	<key>Xserve3,1</key>
	<dict>
		<key>FWFile</key>
		<string>Xserve3,1_APFS.bin</string>
	</dict>
	<key>Macmini3,1</key>
	<dict>
		<key>FWFile</key>
		<string>Macmini3,1_APFS.bin</string>
	</dict>
</dict>
</plist>
