<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kernel Flags</key>
	<string>-v -no_compat_check kext-dev-mode=1 rootless=0 watchdog=0 nvme=0x9 legacy_hda_tools_support=1 sandcastle=0 -amfi_get_out_of_my_way=1 chunklist-security-epoch=0 -chunklist-no-rev2-dev smc=0x2 enable-legacy-orom-behavior=1</string>
</dict>
</plist>
