<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportedBoardIds</key>
	<array>
		<string>Mac-F42C88C8</string>
		<string>Mac-226CB3C6A851A671</string>
		<string>Mac-36B6B6DA9CFCD881</string>
		<string>Mac-112818653D3AABFC</string>
		<string>Mac-9394BDF4BF862EE7</string>
		<string>Mac-AA95B1DDAB278B95</string>
		<string>Mac-CAD6701F7CEA0921</string>
		<string>Mac-50619A408DB004DA</string>
		<string>Mac-7BA5B2D9E42DDD94</string>
		<string>Mac-CFF7D910A743CAAF</string>
		<string>Mac-B809C3757DA9BB8D</string>
		<string>Mac-F305150B0C7DEEEF</string>
		<string>Mac-35C1E88140C3E6CF</string>
		<string>Mac-827FAC58A8FDFA22</string>
		<string>Mac-6FEBD60817C77D8A</string>
		<string>Mac-7BA5B2DFE22DDD8C</string>
		<string>Mac-827FB448E656EC26</string>
		<string>Mac-66E35819EE2D0D05</string>
		<string>Mac-BE0E8AC46FE800CC</string>
		<string>Mac-5A49A77366F81C72</string>
		<string>Mac-63001698E7A34814</string>
		<string>Mac-937CB26E2E02BB01</string>
		<string>Mac-FFE5EF870D7BA81A</string>
		<string>Mac-87DCB00F4AD77EEA</string>
		<string>Mac-A61BADE1FDAD7B05</string>
		<string>Mac-C6F71043CEAA02A6</string>
		<string>Mac-4B682C642B45593E</string>
		<string>Mac-1E7E29AD0135F9BC</string>
		<string>Mac-90BE64C3CB5A9AEB</string>
		<string>Mac-3CBD00234E554E41</string>
		<string>Mac-189A3D4F975D5FFC</string>
		<string>Mac-B4831CEBD52A0C4C</string>
		<string>Mac-E1008331FDC96864</string>
		<string>Mac-FA842E06C61E91C5</string>
		<string>Mac-81E3E92DD6088272</string>
		<string>Mac-06F11FD93F0323C5</string>
		<string>Mac-06F11F11946D27C5</string>
		<string>Mac-F60DEB81FF30ACF6</string>
		<string>Mac-473D31EABEB93F9B</string>
		<string>Mac-0CFF9C7C2B63DF8D</string>
		<string>Mac-9F18E312C5C2BF0B</string>
		<string>Mac-E7203C0F68AA0004</string>
		<string>Mac-65CE76090165799A</string>
		<string>Mac-CF21D135A7D34AA6</string>
		<string>Mac-112B0A653D3AAB9C</string>
		<string>Mac-DB15BD556843C820</string>
		<string>Mac-27AD2F918AE68F61</string>
		<string>Mac-937A206F2EE63C01</string>
		<string>Mac-77F17D7DA9285301</string>
		<string>Mac-9AE82516C7C6B903</string>
		<string>Mac-BE088AF8C5EB4FA2</string>
		<string>Mac-551B86E5744E2388</string>
		<string>Mac-564FBA6031E5946A</string>
		<string>Mac-A5C67F76ED83108C</string>
		<string>Mac-5F9802EFE386AA28</string>
		<string>Mac-747B1AEFF11738BE</string>
		<string>Mac-AF89B6D9451A490B</string>
		<string>Mac-EE2EBD4B90B839A8</string>
		<string>Mac-42FD25EABCABB274</string>
		<string>Mac-2BD1B31983FE1663</string>
		<string>Mac-7DF21CB3ED6977E5</string>
		<string>Mac-A369DDC4E67F1C45</string>
		<string>Mac-35C5E08120C7EEAF</string>
		<string>Mac-E43C1C25D4880AD6</string>
		<string>Mac-53FDB3D8DB8CA971</string>
	</array>
	<key>SupportedModelProperties</key>
	<array>
		<string>MacPro3,1</string>
		<string>MacPro6,1</string>
		<string>MacBookPro14,2</string>
		<string>MacBookAir8,1</string>
		<string>MacBookAir8,2</string>
		<string>iMac16,2</string>
		<string>iMac16,1</string>
		<string>iMac18,2</string>
		<string>MacBook10,1</string>
		<string>Macmini7,1</string>
		<string>MacBookPro13,3</string>
		<string>iMac14,4</string>
		<string>MacBookPro15,3</string>
		<string>MacBookPro15,2</string>
		<string>MacBookPro11,5</string>
		<string>iMac17,1</string>
		<string>MacBookPro11,3</string>
		<string>MacBookPro11,2</string>
		<string>MacBookPro11,1</string>
		<string>MacBookPro15,4</string>
		<string>iMac18,1</string>
		<string>MacBookPro14,3</string>
		<string>iMac18,3</string>
		<string>MacBookPro14,1</string>
		<string>iMac19,1</string>
		<string>iMac19,2</string>
		<string>MacBookPro15,1</string>
		<string>MacBookPro12,1</string>
		<string>MacBook8,1</string>
		<string>iMac15,1</string>
		<string>MacBookPro13,1</string>
		<string>MacBookAir7,1</string>
		<string>MacBookAir7,2</string>
		<string>MacBookPro13,2</string>
		<string>MacBook9,1</string>
		<string>MacBookPro11,4</string>
		<string>MacBookAir6,1</string>
		<string>MacBookAir6,2</string>
		<string>Macmini8,1</string>
		<string>MacPro7,1</string>
		<string>iMacPro1,1</string>
	</array>
</dict>
</plist>
