<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>EjectExtra</string>
	<key>BuildVersion</key>
	<string>2905</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.3</string>
	<key>CFBundleVersion</key>
	<string>257</string>
	<key>ProjectName</key>
	<string>EjectExtra</string>
	<key>SourceVersion</key>
	<string>261000000000000</string>
</dict>
</plist>
